
/* Add variables for colors used in stylesheet */
:root {
    --logo-color: #02b3e4;
    --accent-color: #2d3c49;
    --highlight-color: #7d97ad;

  }


  hr {
      height: 5px;
      color: var(--accent-color);
      background-color: var(--accent-color);
      border: none;
  }

  header {
      display: flex;
      
  }

  .logo {
      margin-right: auto;
  }

  .contact {
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    text-transform: uppercase;
    text-align: end;
    line-height: 1em;
    font-weight: 300;
    margin-top: 2em;

  }

  section {
      /* display: flex; */
      width: 100%;
  }

  .hero {
      display: flex;
      
  }

  .imgHero {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: 100%;
  }


  .articles {
      justify-content: space-between;
  }

  .featured {
      color: var(--highlight-color);
      font-size: 1em;
      
  }
  


  @media screen and (min-width: 925px) {
      #hero {
          margin-left: auto;
          margin-right: auto;
      }
  }
  @media screen and (min-width: 550px) and (max-width: 799px) {
      section {
          display: flex;
          flex-wrap: wrap;
      }
      .articles {
        justify-content: space-around;
        
      }

      .featured {
        font-size: 1.5em;
        
    }

    
  }

  @media screen and (max-width: 450px) {
      h1 {
          font-size: 1.5em;
      }

      

      
  }
  