
/* Add variables for colors used in stylesheet */
:root {
    --logo-color: #02b3e4;
    --accent-color: #2d3c49;
    --highlight-color: #7d97ad;
  }


  hr {
      height: 5px;
      color: var(--accent-color);
      background-color: var(--highlight-color);
      border: none;
      margin-bottom: 10px;
      max-width: 1024px;
  }

  header {
      display: flex;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      
      
  }

  .logo {
      margin-right: auto;
      
  }

  .contact {
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    text-transform: uppercase;
    text-align: end;
    line-height: 1em;
    font-weight: 300;
    margin-top: 2em;
    

  }

  .container {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      
  }

  section {
     
      width: 100%;
      display: flex;
  }

  .hero {
      display: flex; 
  }

  .heroSm {
      margin-left: auto;
      margin-right: auto;
  }

  .heroMd {
      display: none;
  }

  .heroLg {
      display: none;
  }

  .imgHero {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: 100%;
  }


  .articles {
      justify-content: space-between;
     
  }

  .featured {
      font-family: 'Quicksand', sans-serif; 
      color: var(--highlight-color);
      text-align: center;
      font-size: 1em;
      
  }

  h3 {
      color: var(--accent-color);
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      font-size: 1em;
      font-weight: 600;
  }

  p {
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      max-width: 249px;
  }
  


  @media screen and (max-width: 875px) {
      section {
          display: flex;
          flex-wrap: wrap;
      }
      .articles {
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        
      }
  }

  @media screen and (max-width: 450px) {
      h1 {
          font-size: 1.5em;
      }

      .logoLg {
          display: none;
      }
  }

  @media screen and (min-width: 451px) {
      h1 {
          font-size: 2em;
      }

      .logoSm {
          display: none;
      }

      .heroMd {
          display: none;
      }

      .heroLg {
          display: none;
      }

    
  }

  @media screen and (min-width: 1050px) {
    .heroSm {
        display: none;
    }

    .heroMd {
        display: none;
    }

    .heroLg {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
  }

  @media screen and (min-width: 660px) and (max-width: 1049px) {
    .heroSm {
        display: none;
    }

    .heroLg {
        display: none;
    }

    .heroMd {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
  }

 